body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    border-style: outset;
    width: 100%;
    background-color: #2ECC71;
    color: #fff;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
}

.search-icon {
    margin-left: -40px;
    color: #777;
    cursor: pointer;
}

main {
    background-color: #555; 
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.search-container {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: #1C2833;
    text-align: left;
    border-bottom: 1px solid #fff; 
    margin: 0;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

h2 {
    color: #1C2833; 
    text-align: left;
    margin-top: 50px; 
    margin-bottom: -7px;
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff; 
    padding:0;
    width: 100%; 
    background-color: #f7faf8;
}

h3 {
    color: #0f151a;
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    width: 400px;
    margin-left: 200px;
    margin-right: auto;
}

.search-text {
    margin-top: 18px; 
    color: #1C2833;
    font-size: 1em;
}

nav {
    width: 100%;
    background-color: #f6f9f7;
    color: #0b0b0b;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    color: #0c0c0c;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-top: 20px;
}

nav a:first-child {
    margin-top: 0;
}

nav a:hover {
    background-color: #555;
}

.info-div {
    margin-left: 1050px;
    text-align: right;
}

.calendar {
    background: #7e3939;
    width: 80%;
    max-width: 600px;
    margin: 1em auto;
    padding: .5em 0;
}

.calendar_info {
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase;
}

.calendar_prev, .calendar_next {
    color: #2ECC71;
    cursor: pointer;
    font-size: 1.4em;
}

.calendar_prev {
    margin-right: auto;
}

.calendar_next {
    margin-left: auto;
    transform: rotate(45deg); 
}

.calendar_week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar_item {
    text-align: center;
    line-height: 2;
}
