body {
    font-family: Arial, sans-serif;
    background-color: #2ECC71;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    border-radius: 50%;
    overflow: hidden;
}

header {
    width: 100%;
    text-align: left;
    padding: 20px;
    color: #1C2833;
    text-align: left;
}

h1 {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 80px;
    color: #1C2833;
    text-align: left;
    border-bottom: 1px solid #fff; 
}

h2 {
    font-size: 3em; 
    margin: 10px 0 20px 20px;
    padding-left: 20px;
    text-align: left;
    color: #1C2833;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 18px;
    margin-top: 20px;
    position: relative;
}

form {
    background-color: #FBFCFC;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    position: absolute;
    right: 7%;
    top: -17%;
    transform: translateY(-50%);
}

h3 {
    text-align: center;
    color: #2ECC71;
    margin-bottom: 15px;
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 20px;
}

button {
    background-color: #117A65;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#registerBtn {
    margin-bottom: 20px; 
}

p {
    margin-bottom: 30px; 
    text-align: left;
    margin-left: 40px;
}