body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ECC71;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
}

nav a.active {
    background-color: #fff;
    color: #2ECC71;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.ventas-section {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ventas-section h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #2ECC71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #27AE60;
}

footer {
    background-color: #2ECC71;
    color: #fff;
    text-align: center;
    padding: 20px;
}